/* things to remember
Make sure to use the correct tree structure in the link when linking the style sheet
use the google fonts page for free fonts. The fonts link has to be above the style sheet link but below the bootstrap link !important 

Live editing in the browser, using the devtools and inspect!important. I just copy and past the changes from the devtools to the
index file or the style file.

<hr> is a line breaker, a divider in the page and is used in our .block-dividers class





*/


body {
    font-family: 'Roboto', sans-serif; /* font family form google fonts */
}

/*  Containers - Alert, Callout, Quotes and Features
    Everything was in one container before, we have now split everything up inte different containers
    this gives more flexibility with the design     */

.container-wrapper {}

.container-wrapper--red {
    background-color: #f05f40;
    color: white;
}

.alert-container {}

.callout-container {
    height: 100vh;     /*100 vertical height - the entire heigt of the browser window */

    background: url('../images/whiskey-background.jpg') no-repeat center center fixed;     /* full width background copy and paste from the webpage*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;         /* flexbox to center the text  */
    align-items: center;
    justify-content: center;

    position: relative;
}

.opaque-overlay {    /* to take the edge of the background to make it smoother and make the text stand out a little more 
                        create it in the dev tool and paste it in the style sheet */
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

/* Navbar */

.navbar {
    margin-bottom: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, .25);
    border: 0;
}

.navbar-default .navbar-collapse {
    border-color: transparent;
}

.navbar-default .navbar-toggle {
    border: 0;
}

.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar .navbar-brand {
    font-weight: bold;
    color: white;
}

.navbar .navbar-brand:hover {
    color: white;
}

.navbar-default .navbar-nav a {
    font-weight: bold;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: white;
    background: transparent;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: white;
}

.navbar-btn {
    border: 0;
    border-radius: 16px;
    width: 100px;
    background-color: #f05f40;
    color: white;
}

.navbar-btn:hover {
    background-color: #df4929;
    border-color: #df4929;
    color: white;
}

/* Jumbotron */

.jumbotron {
    background-color: transparent;
}

.jumbotron h1 {             /* here we had a specificity problem, h1 overwrote our inital class for the jumbotron header class */
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
    color: white;
}

.jumbotron .lead {
    color: #a7a7a7;
    margin: 25px 0;
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #d0d0d0;
}

/* Block dividers <hr>
<hr> is a line breaker, a divider in the page
*/

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #444;
}

.block-divider--orange {     /* modifier class */
    background-color: #f05f40;
}

.block-divider--white {     /* modifier class we use these so that we can change the color later without the head class .block-divider */
    background-color: white;
}

.block-divider--short {     /* modifier class */
    width: 35px;
}

/* Buttons */

.btn--cta {             /*cta - call to action. No rules for names but different ways */
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--red {
    color: white;
    background-color: #f05f40;
    border-color: #f05f40;
}

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background-color: #df4929;
    border-color: #df4929;
    color: white;
}

/* Alert */

.alert-container .col-xs-12 {
    padding-left: 0;
    padding-right: 0;
}

.site-wide-alert {
    color: #544600;
    background-color: #eec802;
    border-color: #eec802;
    padding: 5px 15px;
    margin-bottom: 0;
    border: 1px solid transparent;
    border-radius: 0;
}

/* Page Headers */

.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.page-header h2 {
    margin-top: 0;
}

/* Quotes */

.quotes .page-header {
    margin-bottom: 25px;
}

blockquote.quote {
    border-left: 0;
}

/* Features */

.feature {
    text-align: center;
    margin-bottom: 40px;
}

.feature .glyphicon {
    display: block;
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;
}

.feature .btn {
    background-color: white;
    border-color: white;
    border-radius: 15px;
    min-width: 100px;
    font-weight: bold;
    margin-top: 10px;
    color: #f05f40;
}